{%extends 'main.html'%}

{%block title%}
Delete Comment
{%endblock%}

{% load static %}

{%block content%}
<form action="" method="post">
    {%csrf_token%}
    <div class="container d-flex flex-column justify-content-center align-items-center mt-4" style="height: 60vh;">
        <!-- <img src="{{project.cover.url}}" alt="" width="500"> -->
        <h3 class="mt-4">Are you sure you want to delele {{comment.body}}?</h3>

        <div class="row mt-4">
            <div class="col-md-6">
                <a href="{%url 'view-project' comment.project.id%}" class="btn btn-light">Cancel</a>
            </div>

            <div class="col-md-6">
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </div>
    </div>
</form>
{%endblock%}
