{%extends 'main.html'%}

{%block title%}
Delete Project
{%endblock%}

{% load static %}

{%block content%}
<form action="" method="post">
    {%csrf_token%}
    <div class="container d-flex flex-column align-items-center mt-4">
        <img src="{{project.cover.url}}" alt="" width="500">
        <h3 class="mt-4">Are you sure you want to delele {{project.name}}?</h3>

        <div class="row mt-4">
            <div class="col-md-6">
                <a href="{%url 'project-page'%}" class="btn btn-light">Cancel</a>
            </div>

            <div class="col-md-6">
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </div>
    </div>
</form>
{%endblock%}
