{%extends 'main.html'%}

{%block title%}
Posts
{%endblock%}

{% load static %}

{%block content%}
<div class="blog-page">
    <div class="container">
        <div class="row">
            <!-- cover image -->
            <img src="{{project.cover.url}}" height="450">
            <!-- end of cover image -->

            {%for message in messages%}
            <div 
                class="alert alert-secondary" role="alert"
                x-data="{ show: true }" x-show="show" 
                x-init="setTimeout(() => show = false, 100)">
                {{message}}
            </div>
            {%endfor%}

            <div class="mt-3 ms-4 ps-4 mt-4 pt-4">
                <div class="blog-header">
                    <h1 class="">{{project.name}}</h1>
                </div>
                <p class="mt-3 ms-1">posted {{project.created_at|timesince}} ago</p>
                <div class="mb-4 d-flex justify-content-around">
                    <div>
                        <a href="">
                            <img src="{%static 'images/comment-svgrepo-com.svg'%}" alt="" width="35" class="like-image ms-sm-2">
                            <p class="mt-1 text-secondary">{{comment_count}} Comments</p>
                        </a>
                    </div>
                </div>
                <div>
                    {{project.body|safe}}
                </div>
            </div>

            <!-- comment section -->
            {%include 'project/comment.html'%}
            <!-- end of comment section -->

        </div>
    </div>
</div>
{%endblock%}