{%extends 'main.html'%}

{%block title%}
    Home
{%endblock%}

{% load static %}

{%block content%}
<div class="banner-section">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            {%for message in messages%}
            <div 
                class="alert alert-secondary" role="alert"
                x-data="{ show: true }" x-show="show" 
                x-init="setTimeout(() => show = false, 3000)">
                {{message}}
            </div>
            {%endfor%}

            <div class="col-lg-6">
                <h1 class="banner-title">
                    Hi, I'm Emmanuel Gyang 👋
                </h1>
                <p class="banner-desc">
                    I am a Software Engineer who is dedicated and passonate about his work
                </p>
                <p class="banner-desc pb-3">
                    I am also a writer 🖊️, poet ⚫, basketball player 🏀 &amp; God lover 🙏 when im not infront
                    of my computer
                </p>
                <div class="d-flex justify-content-around text-uppercase">
                    <a href="{%url 'about-page' %}" class="banner-btn">
                        read more &rarr;
                    </a>
                    <a href="{% url 'download_pdf_file' filename='resume.pdf'%}" class="btn btn-success">
                        Download Resume
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <img src="{% static 'images/exhausted_computer_user.svg' %}" alt="">
            </div>
        </div>
    </div>
</div>
{%endblock%}